name: build java Application

on:
  push:

jobs:
  builddeployjob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Install Docker
        uses: docker/setup-buildx-action@v3

      - name: Build the code
        run: mvn package

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Dockerfile and push Image
        uses: docker/build-push-action@v6
        with:
          context: . # path where Dockerfile is (current directory)
          tags: manjunath1007/myimagejava:latest # include a tag like :latest
          push: true
